body {
    margin: 10;
    font-family: fantasy;
  }

  .logo {
    display: flex;
    justify-content: left;
    background-color: #30c048;
  }
  
  #dashboard-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #dashboard-header img {
    height: 6rem;
    width: auto;
  }
  
  #book-collection {
    margin: 2rem;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .book-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #5a4be0;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: rgb(218, 135, 41);
    border: #30c048 solid 1px;
    color: #e61425;
  }

  
  .book-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-book-form {
    width: 100%
  }

  .add-review-form {
    background-color:wheat;
    box-shadow: 0 20px 30px 0 rgb(236, 4, 4);
  }
  
  .submit {
    position: relative;
    background-color: #554be0;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: serif;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #571ce2 solid 1px;
    color: #7f4be0;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }